<h1>Animal Crackers in My Soup</h1>

<%="I Love" + " Ruby" %>

<h1>
<%= 1 + 2 %>
</h1>

<div>1 + 2</div>

<% catLady = true %>
<% if catLady == true %>
 <p>You are a crazy cat lady</p>
 <% else %>
 <p>Join Adielle's cat hating army</p>
 <% end %>
 
 <% comments = ['Your picture is so cute', 'Love the dog', 'miss you'] %>
 
 <ol>
   <% comments.each do |comment| %>
   <% puts
 </ol>
 
 
 
 
 